Library/
Temp/
.vs/
obj/
*.csproj
*.sln
*.apk
*.pdb
*.pdb.meta
bin/
RunSCript/CoreDLL/
RunSCript/Obfuscator_Output/
Logs/
*.vsconfig
UserSettings/
lib_burst_generated.txt
UnityCsReference/
MemoryCaptures/
il2cppOutput/
Managed/